.task {
  width: 100%;
  .container {
    padding: 8px;
  }
  .title {
    text-align: left;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 16px;
  }
  .new-note-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    .input {
      grid-column: 1 / 4
    }
  }
  .action-container {
    @extend .container
  }
  .time-container {
    @extend .container;
    .time {
      font-size: 16px;
      font-weight: bold;
      &__on {
        color: red;
      }
      &__off {
        color: rgba(0, 0, 0, .5)
      }
    }
  }
  .notes {
    @extend .container;
    .note {
      text-align: left;
      margin-bottom: 4px;
      margin-top: 4px;
      font-size: 12px;
      color: rgba(0, 0, 0, .5);
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }
}
